<div id="addtocart" class="modal modal-big modal-cart">
    <h3 class="title modal-title">Моя корзина</h3>
    <!-- show when the catr is empty -->
    <p class="modal-text text-center hidden">В корзине пока нет товаров</p>
    <!-- show added items -->
    <div class="cart-items-wrap">
        <div class="mini-titles hidden-xs">
            <div class="row min">
                <div class="col-sm-7"><span>Название товара</span></div>
                <div class="col-sm-3 text-center"><span>Количество</span></div>
                <div class="col-sm-2 text-right"><span>Сума</span></div>
            </div>
        </div>
        <!-- item in cart -->
        <div class="cart-item">
            <div class="row min">
                <!-- item info -->
                <div class="col-sm-7">
                    <div class="cart-item-content">

                        <div class="cart-item-img">
                            <img src="images/cart/item-1.jpg" alt="Formula Spark DD 29 2017">
                        </div>

                        <div class="cart-item-text">
                            <a href="#" class="cart-item-title">Formula Spark DD 29" 2017</a>
                            <span class="cart-item-price-wrap">
										<span class="cart-item-price">4873 грн</span>
										<span class="cart-item-price_old">3324 грн</span>
									</span>
                        </div>

                    </div>
                </div>

                <!-- item quantity -->
                <div class="col-sm-3 col-xs-6">
                    <div class="cart-item-count">
                        <form class="form-counter">
                            <button class="input_control input_minus">
										<span class="icon icon_control">
											<svg>
												<use xlink:href="#icon_minus"></use>
											</svg>
										</span>
                            </button>

                            <input type="text" class="input input_count" value="1">

                            <button class="input_control input_plus">
										<span class="icon icon_control">
											<svg>
												<use xlink:href="#icon_plus"></use>
											</svg>
										</span>
                            </button>
                        </form>
                    </div>
                </div>

                <!-- item sum -->
                <div class="col-sm-2 col-xs-6">
                    <div class="cart-item-sum">
                        <span class="cart-item-sum-text">4873 грн</span>
                    </div>
                </div>

                <!-- item delete button -->
                <button class="delete-item" title="Удалить">
						<span class="icon">
							<svg>
								<use xlink:href="#icon_cross"></use>
							</svg>
						</span>
                </button>

            </div>
        </div>
        <div class="cart-item">
            <div class="row min">
                <!-- item info -->
                <div class="col-sm-7">
                    <div class="cart-item-content">

                        <div class="cart-item-img">
                            <img src="images/cart/item-2.jpg" alt="Шлем Abus TEC-TICAL Pro v.2 Nutrixxion L (58-62)">
                        </div>

                        <div class="cart-item-text">
                            <a href="#" class="cart-item-title">Шлем Abus TEC-TICAL Pro v.2 Nutrixxion L (58-62)</a>
                            <span class="cart-item-price-wrap">
										<span class="cart-item-price">3899 грн</span>
										<span class="cart-item-price_old">4125 грн</span>
									</span>
                        </div>

                    </div>
                </div>

                <!-- item quantity -->
                <div class="col-sm-3 col-xs-6">
                    <div class="cart-item-count">
                        <form class="form-counter">
                            <button class="input_control input_minus">
										<span class="icon icon_control">
											<svg>
												<use xlink:href="#icon_minus"></use>
											</svg>
										</span>
                            </button>

                            <input type="text" class="input input_count" value="1">

                            <button class="input_control input_plus">
										<span class="icon icon_control">
											<svg>
												<use xlink:href="#icon_plus"></use>
											</svg>
										</span>
                            </button>
                        </form>
                    </div>
                </div>

                <!-- item sum -->
                <div class="col-sm-2 col-xs-6">
                    <div class="cart-item-sum">
                        <span class="cart-item-sum-text">3899 грн</span>
                    </div>
                </div>

                <!-- item delete button -->
                <button class="delete-item" title="Удалить">
						<span class="icon">
							<svg>
								<use xlink:href="#icon_cross"></use>
							</svg>
						</span>
                </button>

            </div>
        </div>
        <div class="cart-item">
            <div class="row min">
                <!-- item info -->
                <div class="col-sm-7">
                    <div class="cart-item-content">

                        <div class="cart-item-img">
                            <img src="images/cart/item-3.jpg" alt="Флягодержатель алюминиевый, Simpla Alu-Star">
                        </div>

                        <div class="cart-item-text">
                            <a href="#" class="cart-item-title">Флягодержатель алюминиевый, Simpla Alu-Star</a>
                            <span class="cart-item-price-wrap">
										<span class="cart-item-price">75 грн</span>
									</span>
                        </div>

                    </div>
                </div>

                <!-- item quantity -->
                <div class="col-sm-3 col-xs-6">
                    <div class="cart-item-count">
                        <form class="form-counter">
                            <button class="input_control input_minus">
										<span class="icon icon_control">
											<svg>
												<use xlink:href="#icon_minus"></use>
											</svg>
										</span>
                            </button>

                            <input type="text" class="input input_count" value="1">

                            <button class="input_control input_plus">
										<span class="icon icon_control">
											<svg>
												<use xlink:href="#icon_plus"></use>
											</svg>
										</span>
                            </button>
                        </form>
                    </div>
                </div>

                <!-- item sum -->
                <div class="col-sm-2 col-xs-6">
                    <div class="cart-item-sum">
                        <span class="cart-item-sum-text">75 грн</span>
                    </div>
                </div>

                <!-- item delete button -->
                <button class="delete-item" title="Удалить">
						<span class="icon">
							<svg>
								<use xlink:href="#icon_cross"></use>
							</svg>
						</span>
                </button>

            </div>
        </div>

        <!-- total sum -->
        <div class="cart-total-wrap">
            <span class="cart-total-text">Итого:</span>
            <span class="cart-total-sum">27599 грн</span>
        </div>

        <!-- Action Buttons -->
        <div class="row min">
            <div class="col-sm-6">
                <div class="modal-btn">
                    <a href="javascript:void(0);" class="btn btn_default popup-close">Продолжить покупки</a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="modal-btn text-right">
                    <a href="#order" class="btn btn_act popup-btn">Оформить заказ</a>
                </div>
            </div>
        </div>
    </div>
</div>
